* {
	box-sizing: border-box;
}

.wrapper {
	max-width: 750px;
	margin: auto;
}

.wrapper>div {
	border-radius: 10px;
	border-style: solid;
	border-color: white;
	padding: 0;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.one {
	grid-row: 1;
	grid-column: 1 / 5;
	background-image: url("/images/mandelbulber_1.png");
	background-size: minmax(auto, 200%);
}

.two {
	grid-row: 2;
	grid-column: 1 / 5;
	background-image: url("/images/mandelbulber_1.png");
	background-size: minmax(auto, 200%);
	background-position: center;
}

.three {
	grid-row: 3;
	grid-column: 1 / 5;
}

.four {
	grid-row: 4 / 4;
	grid-column: 1 / 5;
	background-image: url("/images/mandelbulber_1.png");
	background-size: minmax(auto, 200%);
}

.five {
	grid-row: 1 / 5;
	grid-column: 2 / 5;
	margin: 30px;
}

.logo img {
	background-color: lightcyan;
	margin: 20px;
	border-radius: 20px;
	height: 200px;
	width: auto;
}

body {
	font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	background-color: black;
}

h1 {
	color: whitesmoke;
	border-color: white;
	text-align: center;
	font-size: 50px;
	display: inline-block;
	height: auto;
}

h2 {
	margin: 20px;
}

p {
	color: #ffd54f;
	text-decoration: none;
	margin: 20px;
}

.footer {
	text-align: left;
	background-color: #ffd54f;
	padding: 20px;
	display: flex;
}

.icon img {
	margin: 10px;
	width: 75px;
	height: auto;
}

.menu a:link,
.menu a:visited {
	font-size: 15px;
	color: black;
	background-color: #ffd54f;
	border-color: black;
	border-style: solid;
	border-radius: 80px;
	margin: 5px;
	cursor: pointer;
	width: 175px;
	height: auto;
	text-decoration: none;
	display: inline-block;
}

.menu a:hover,
.menu a:active {
	color: black;
	background-color: #ffff00;
}

.nav a:link,
.nav a:visited {
	color: white;
	overflow: auto;
	float: left;
	padding: 12px;
	text-decoration: none;
	font-size: 15px;
}

.nav a:hover,
.nav a:active {
	background-color: #ffd54f;
}

.container {
	position: relative;
	padding-bottom: 75%;
	overflow: hidden;
}

.container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}