* {
	box-sizing: border-box;
}

.wrapper {
	max-width: auto;
	margin: auto;
}

.wrapper>div {
	border-radius: 10px;
	border-style: solid;
	border-color: white;
	padding: 0px; 
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
}

body {
	font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: black;
	text-align: center;
}

body a:link,
body a:visited {
	color: white;
}

.one {
	grid-column: 1 / 4;
	grid-row: 1 / 3;
	position: absolute;
	width: auto;
}

.two {
	grid-column: 1 / 4;
	grid-row: 1 / 3;
	height: auto;
	width: auto;
	background-image: url("/images/asset_6.jpeg");
}

.three {
	grid-column: 1 / 4;
	grid-row: 3 / 3;
	background-color: slategray;
	height: auto;
	width: auto;
}

.ten {
	grid-row: 1;
	grid-column: 0 / 4;
	background-image: url("/images/mandelbulber_1.png");	
}

.eleven {
	grid-row: 2;
	grid-column: 0 / 4;
	background-color: black;
	background-image: url("/images/mandelbulber_1.png");
	background-size: minmax(auto, 200%);
	background-position: center;

}

.twelve {
	grid-row: 3 / 3;
	grid-column: 0 / 3;
	background-image: url("/images/mandelbulber_1.png");
	background-size: minmax(auto, 200%);
	
}

.thirteen {
	grid-row: 1 / 4;
	grid-column: 2 / 4;
}

.logo img{
	margin: 20px;
	border-radius: 20px;
	width: auto;
  }

hr {
	height: 1px;
	border: none;
	background-color: #d3d3d3;
}

.icon img {
	margin: 10px;
	width: 75px;
	height: auto;
}

.footer {
	text-align: left;
	background-color: #ffd54f;
	padding: 20px;
}

h1 {
	padding: 10px 40px;
	color: white;
	font-size: 50px;
}

.menu a:link,
.menu a:visited {
	font-size: 15px;
	color: black;
	background-color: #ffd54f;
	border-color: black;
	border-style: solid;
	border-radius: 80px;
	margin: 5px;
	cursor: pointer;
	width: 175px;
	height: auto;
	text-decoration: none;
	display: inline-block;
}

.menu a:hover,
.menu a:active {
	color: black;
	background-color: #ffff00;
}

.nav a:link, 
.nav a:visited {
  color: white;
  overflow: auto;
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
}

.nav a:hover,
.nav a:active {
	background-color: #ffd54f;
	color: black;
}

h2 {
	text-align: left;
	margin: 20px;
}

h3 {
	text-align: left;
	margin: 20px;
}

p {
	color: #ffd54f;
	text-decoration: none;
	text-align: left;
	margin: 20px;
}

.iframe {
	position: relative;
	padding-bottom: 65%;
	padding-top: 35px;
	overflow: hidden;
}

.iframe iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	padding-bottom: 100%;
	padding-top: 35px;
	overflow: hidden;
	min-height: 975px;
}

.container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo img {
	background-color: lightcyan;
	margin: 20px;
	border-radius: 20px;
	height: 200px;
	width: auto;
	position: relative;
}


/* carousel on the projects page */

section#carousel>figure>img {
	display: none;
	margin: 0px auto;
}

section#carousel>figure.visible>img {
	display: block;
	position: relative;
	overflow: hidden;
	height: 650px;
}

section#carousel>figure>figcaption {
	display: none;
}

section#carousel>figure.visible>figcaption {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}


/* input form on the about page */

* {
	box-sizing: border-box;
}

input[type=text],
select,
textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit] {
	background-color: yellow;
	color: Black;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
}

input[type=submit]:hover {
	background-color: blue;
	color: white;
}

.container {
	border-radius: 5px;
	background-color: slategrey;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}


/* Clear floats after the columns */

.row:after {
	content: "";
	display: table;
	clear: both;
}


/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
	.col-25,
	.col-75,
	input[type=submit] {
		width: 80%;
		margin-top: 100px;
}
