* {box-sizing: border-box;}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper > div {
  border-radius: 0px;
  padding: 30px; 
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 4;
  background-color: black;
  color: white;  
}

.two {
    grid-column: 1 / 4;
    background-image: url("/Website Project/images/asset_6.jpeg");
    height: 0 auto;
    font-size: 25px;
    color: white;
    text-align: center;
}

.three { 
    grid-column: 1 / 4;
    background-color: #f5f2f0;
} 

hr { 
  height: 1px; 
  border:none; 
  color: black; 
  background-color: lightgray;     
  width: auto;
  column-width: auto;
}

h1 {
    text-align: center;
    text-shadow: 2px 2px 6px rgb(171, 171, 172);
}

.footer {
  text-align: left;
  background-color: yellow;
  line-height: 2em;
}