* {box-sizing: border-box;}

.wrapper {
  max-width: auto;
  margin: 0 auto;
}

.wrapper > div {
  border-radius: 0px;
  padding: 0; 
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: auto;
}

body {
  font-family: 'Roboto', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  text-align: center;
}

body a:link,
body a:visited {
  color: white;
}

.one {
  grid-column: 1 / 4;
  background-color: #000000;

}

.two {
  grid-column: 1 / 4;
  background-image: url("/images/asset_6.jpeg")
}

.three { 
  grid-column: 1 / 4;
  background-color: slategray;
  height: auto;
} 

hr { 
  height: 1px; 
  border:none; 
  background-color: #d3d3d3;     
  width: 800px, auto;
  column-width: auto;
}

.icon img{
  margin: 10px;
  width: 75px;
  height: auto;
}

.footer {
  text-align: left;
  background-color: #ffd54f;
  padding: 20px;
}

h1 {
  padding: 10px 40px;
  color: whitesmoke;
  border-color: white;
  border-left-style: dotted;
  border-right-style: dotted;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  width: auto 500px;
  height: auto;
}

.menu a:link, 
.menu a:visited {
  font-size: 15px;
  color: black;
  background-color: #ffd54f;
  border-color: black;
  border-style: solid;
  border-radius: 80px;
  margin: 5px;
  cursor: pointer;
  width: 175px;
  height: auto;
  text-decoration: none;
  display: inline-block;  
}

.menu a:hover, 
.menu a:active {
  color: black;
  background-color: #ffff00;
}

.nav a:link, 
.nav a:visited {
  background-color: #000000;
  color: white;
  overflow: auto;
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;  
}

.nav a:hover, 
.nav a:active {
  background-color: #ffd54f;
}

h2 {
  text-align: left;
  margin: 20px;
}
p {
  
  color: #ffd54f;
  text-decoration: none;
  text-align: left;
  margin: 20px;
}

iframe {
  margin: 20px;
  width: auto;
  height: auto;
  display: flex;
}

/* input form on the about page */

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: yellow;
  color: Black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: blue;
  color: white;
}

.container {
  border-radius: 5px;
  background-color: slategrey;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
}


  /* Make the image fully responsive */
  .carousel-inner img {
  width: auto;
  height: 10%;
}