* {box-sizing: border-box;}

.wrapper {
  max-width: auto;
  margin: 0 auto;
}

.wrapper > div {
  border-radius: 0px;
  padding: 0; 
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
  grid-auto-rows: auto;
}

.navbar a {
  background-color: #000000;
  overflow: auto;
  float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 12px;  
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #d3d3d3;
  text-align: center;
}

.one {
  grid-column: 1 / 4;
  background-color: #000000;
}

.two {
  grid-column: 1 / 4;
  background-image: url("/Website Project/images/asset_6.jpeg");
  height: 0 auto;
  color: #ffffff;
  text-align: center; 
}

.three { 
  grid-column: 1 / 4;
  background-color: #f5f2f0;
} 

hr { 
  height: 1px; 
  border:none; 
  color: #000000; 
  background-color: #d3d3d3;     
  width: auto;
  column-width: auto;
}

.nav
a:link, a:visited {
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: blue;
  text-shadow: 2px 2px 6px #778899;
}

.nav
a:hover, a:active {
  background-color: #ffd54f;
  border-radius: 10px;
}

.menu
a:link, a:visited {
  text-align: center;
  font-size: 15px;
  color: black;
  background-color: #ffd54f;
  border-color: black;
  border-style: solid;
  border-radius: 80px;
  margin: 10px;
  cursor: pointer;
  width: 175px;
  height: 55px;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;  
}

.menu
a:hover, a:active {
  background-color: #ffff00;
}

.icon img{
  margin: 10px;
  width: 75px;
  height: auto;
}

.footer {
  text-align: left;
  background-color: #ffd54f;
  line-height: 50px;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 6px #ababac;
  letter-spacing: 10px;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
  color: #ffd54f;
  text-shadow: 2px 2px 4px #352c2c;
}

p {
  color: #1e1f00;
  font-style: oblique;
  font-weight: bold;
  text-shadow: 2px 2px 6px #778899;
}